[Unit]
Description=CSYE6225 APP
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=CSYE6225
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target